<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>핸드폰번호</th>
        <th>집전화번호</th>
        <th>메모</th>
        <th>가입날짜</th>
        <th>삭제날짜</th>
        <th>삭제여부</th>
      </tr>
      </thead>
      <tbody>
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.mobilePhoneNumber}"></td>
        <td th:text="${member.homePhoneNumber}"></td>
        <td th:text="${member.memo}"></td>
        <td th:text="${member.joinDate}"></td>
        <td th:text="${member.delDate}"></td>
        <td th:text="${member.delYn}"></td>
      </tbody>
    </table>
  </div>
  <a href="/member/update">회원 수정</a>
  <a href="/member/delete">회원 삭제</a>
  
</div> <!-- /container -->
</body>
</html>