<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>핸드폰번호</th>
                <th>집전화번호</th>
                <th>메모</th>
                <th>가입날짜</th>
                <th>삭제날짜</th>
                <th>삭제여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberList : ${memberList}">
                <td th:text="${memberList.id}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.name}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.mobilePhoneNumber}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.homePhoneNumber}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.memo}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.joinDate}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.delDate}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
                <td th:text="${memberList.delYn}" th:onclick="|location.href='@{'/member/read/' + ${memberList.id}}'|" style="cursor:pointer"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>